<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="add" size="large" color="primary"></ion-icon>
    </ion-buttons>
    <ion-title>
      Favourites
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favourites</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>
